<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>iCalendar 文件</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.ical.ics</string>
				<string>public.calendar-data</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/Jason25417/EasyReminder/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>REPLACE_WITH_ED_PUBLIC_KEY</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
